/******************************************
/* GENERAL STYLES
/*******************************************/

:root {
    --primary: #364652;
    --secondary: #f19844;
    --accent: #f5f3ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.header,
nav>ul,
.square,
.inner,
.row,
.testimonial,
.top,
.socials,
.text-item,
.about-us,
.about-blurb,
.employee,
.staff,
.location-and-hours,
.text-item {
    display: flex;
}

body {
    flex-direction: column;
    font-family: Cabin, sans-serif;
    font-size: 16px;
}

/* GENERAL SPACING */

.details, .gallery, .gallery-flip, .staff, .contact-us{
    width: 70vw;
}

/* TEXT AND COLOURS */

header,
footer {
    background: var(--primary);
}

header a,
footer a,
.phone-number,
.copyright,
h1,
h2,
.name,
.about-name {
    color: var(--secondary);
}

.carousel-container,
.testimonials,
.about-us,
.detail-text,
.about-details,
.contact-form {
    background: var(--accent);
}

.title,
.contact,
h1,
h2,
caption,
.title,
.contact {
    font-size: 3rem;
}

header a,
.phone-number,
.email,
.phone {
    font-size: 2rem;
}

footer a,
.review,
.detail-text,
.serviceTable1,
.contact-info,
input,
textarea,
.submit,
label,
.blurb, .name,
.about-name {
    font-size: 1.5rem;
}


.home-page-link, .position, .copyright p{
    font-size: 1rem;
}

/******************************************
/* PAGE-SPECIFIC STYLES
/*******************************************/

/* HEADER */

.header,
.top {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
}

.footer{
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
}

header a,
footer a {
    text-decoration: none;
}

header ul a:hover,
footer ul a:hover {
    color: grey;
    border-bottom: 6px solid #D7DEDC;
}

object {
    pointer-events: none;
}

.logo {
    display: block;
    width: 20%;
}

nav ul {
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    margin-right: 5em;
}

ul li:last-child {
    margin-right: 0;
}

/* FOOTER */

.copyright p{
    text-align: center;
}

.social-icon {
    width: 2rem;
    filter: invert(77%) sepia(19%) saturate(6497%) hue-rotate(332deg) brightness(106%) contrast(89%);
    margin-right: 3rem;
}

.socials .social-icon:last-child {
    margin-right: 0;
}

/* HOME PAGE */

main {
    background: #fff;
}

.carousel-img {
    width: 100%;
    height: 93vh;
    object-fit: contain;
    display: block;
}

.carousel-container {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

h1,
h2 {
    text-align: center;
    padding: 2.5rem;
}



.inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.testimonials {
    padding: 0 0 40px 0;
    color: #434343;
}

.testimonial {
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-left: 15px solid #5f5b5b;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.col {
    flex: 30%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 30px;
}

.name,
.about-name {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-areas:
        "one two two"
        "three three four";
    gap: 1rem;
}

.services-home {
    grid-area: one;
}

.lookbook-home {
    grid-area: two;
}

.about-home {
    grid-area: three;
}

.contact-home {
    grid-area: four;
}

.details{
    margin-bottom: 2rem;
}

.square {
    flex-direction: column;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    opacity: 1;
    transition: 0.3s;
}

.square:hover {
    opacity: 0.6;
}

.services-img {
    width: 100%;
    flex-grow: 1;
}

.detail-text {
    padding: 25px;
}

.home-page-link {
    padding: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    background: #000;
    color: #fff;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}

/* SERVICES */


.serviceTable1 {
    width: 40%;
    border-collapse: collapse;
    margin: 30px auto 50px auto;
}

.serviceTable1 td {
    padding: 30px;
}


.serviceTable1 tr:hover {
    background: var(--accent);
}

caption {
    border-bottom: 2px solid;
    padding: 20px;
}

th {
    text-align: left;
    border: 2px solid red;
}

.price {
    text-align: right;
}

/* GALLERY */

.gallery,
.gallery-flip {
    /* width: 80%; */
    height: 80vh;
    margin: 2% auto;
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "photoOne photoTwo photoThree"
        "photoOne photoFour photoFive";
    grid-template-columns: 1fr 20% 20%;

}

.gallery-flip {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "photoOne photoTwo photoThree"
        "photoFour photoFive photoThree";
    grid-template-columns: 20% 20% 1fr;
}

.gallery-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery>img:first-child {
    grid-area: photoOne;
}

.gallery-flip>img:last-child {
    grid-area: photoThree;
}

/* ABOUT US */

.about-page {
    flex-direction: column;
}

.about-blurb {
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.title,
.contact {
    font-weight: 700;
    padding: 5% 0;
}



.blurb {
    line-height: 2;
}

.about-img img {
    width: 50vw;
    display: block;
}

.employee {
    flex-direction: column;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.staff {
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.staff-pic {
    width: calc((70vw / 4) - 1rem) ;
    object-fit: cover;
    flex-grow: 1;
}

.staff .employee:last-child > .staff-pic{
    width: calc(70vw / 4);
}

.about-details {
    text-align: center;
    border-top: 6px solid;
    padding: 5%;
}

.about-name {
    margin: 0 0 2% 0;
}

/* CONTACT */

.contact-us {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: 84vh;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.location-and-hours {
    flex-direction: column;
    gap: 5%;
}

.contact-info {
    text-align: center;
}

iframe {
    display: block;
}

.contact {
    padding: 0;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

label,
input,
textarea {
    display: block;
    line-height: 2;
    /* font: 1.25rem / 1.5 sans-serif; */
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

label {
    padding: 0.5rem 0;
}

.text-item {
    flex-direction: column;
}

input,
textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}

input:focus,
textarea:focus {
    outline: 2px solid #000;
}

textarea {
    height: 200px;
}

.full-width {
    grid-column: span 2;
}

.submit {
    display: block;
    line-height: 2;
    padding: 0 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin-top: 2%;
}

.map {
    display: block;
    height: 100%;
}