* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: powderblue;
}

.serviceTable1 {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.serviceTable1 td {
    padding: 8px;
    border: #999 1px solid;
}

.serviceTable1 tr:nth-child(even) {
    /*(even) or (2n+0)*/
    background: #A4D1FF;
}

.serviceTable1 tr:nth-child(odd) {
    /*(odd) or (2n+1)*/
    background: #EAF4FF;
}

th {
    text-align: left;
}

.gallery {
    display: grid;
    gap: 1em;
    grid-template-areas:
        "photoOne photoTwo photoThree"
        "photoOne photoFour photoFive";
    grid-template-columns: 1fr 20% 20%;
}

.gallery-flip {
    display: grid;
    gap: 1em;
    grid-template-areas:
        "photoOne photoTwo photoThree"
        "photoFour photoFive photoThree";
    grid-template-columns: 20% 20% 1fr;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery>img:first-child {
    grid-area: photoOne;
}

.gallery-flip > img:last-child{
    grid-area: photoThree;
}

.about-us{
    display: flex;
}
